Avocado.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Avocado.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Avocado.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Avocado.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
